[tool.poetry]
name = "descope"
version = "0.0.dev3"
description = "Descope Python SDK"
authors = ["Descope <info@descope.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://descope.com/"
repository = "https://github.com/descope/python-sdk"
documentation = "https://docs.descope.com"
classifiers = [
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
packages = [
    { include = "descope"},
    { include = "descope/authmethod"},
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/descope/python-sdk/issues"


[tool.poetry.dependencies]
python = "^3.7"
requests = "2.28.2"
PyJWT = "==2.6.0"
cryptography = "==40.0.2"
email-validator = "==1.3.1"

[tool.poetry.group.dev.dependencies]
mock = "5.0.1"
pre-commit = "2.21.0"
Flask = "2.2.3"
flake8 = "5.0.4"
pytest-cov = "4.0.0"
pytest = "7.3.0"
black = "23.3.0"
liccheck = "0.8.3"
isort = "5.11.4"
pep8-naming = "0.13.3"

[build-system]
requires = ["poetry-core>=1.1.0"]
build-backend = "poetry.core.masonry.api"
