name: Python package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Lint with flake8
        run: |
            flake8 . --count --show-source --statistics

      - name: Lint with black
        uses: psf/black@stable
        with:
          options: "--check --verbose"

      - name: Run isort
        uses: isort/isort-action@master
        with:
          configuration: --profile black

      - name: Check leaks
        uses: ./.github/actions/gitleaks

      - name: License Checker
        uses: andersy005/gh-action-py-liccheck@main
        with:
          strategy-ini-file: ./liccheck.ini
          level: paranoid
          requirements-txt-file: ./requirements-dev.txt
          no-deps: false
          liccheck-version: 0.6.4

      - name: Tests
        run: |
          python -m pytest tests/*

      - name: Build package
        run: |
          mkdir src
          python -m build

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: descope-auth-0.0.1.tar.gz
          path: ./dist/descope-auth-0.0.1.tar.gz

      - name: repo name
        run: echo '${{ github.repository }}'
        shell: bash
