name: Python Publish

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: read
  id-token: write # Required for PyPI trusted publishing (OIDC)

jobs:
  pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    environment: pypi
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup
        uses: descope/.github/.github/actions/python/poetry/setup@main
        with:
          python-version: "3.11"

      - name: Set version from tag
        run: poetry version $(git describe --tags --abbrev=0)

      - name: Build
        uses: descope/.github/.github/actions/python/poetry/build@main

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
